extends ./layouts/main.jade

block title
  title #{content.title} | #{global.template.siteName}

block meta
  link(rel="canonical", href="#{global.general.baseUrl}#{content.getUrl()}")

block content
  //h3 Collection: #{category.belongsToCollection.id} Category: #{category.title} Page: #{page.pageNumber}
  .main-container
    .main-content
      include ./partials/post

    .sidebar
      include ./partials/sidebar

block scripts
  script.
    var id = "#{content.contentId.replace(new RegExp("/", "g"), "___")}";
