article.card.excerpt(id=content.contentId)
  .card-contents
    .date #{content.createDate.locale(global.template.locale).format(global.template.dateFormat)}
    h1.title
      a(href=content.getUrl()) #{content.title}
    .content !{content.htmlExcerpt}
  .card-actions
    a.button.primary(href=content.getUrl())
      span #{global.template.readContent}
